/*  This file was provided as part of a weekly web design tutorial series.
	Sign-up for our newsletter, at http://codifydesign.com, to be notified
	about new episodes.
*/

body {
  margin: 0;
  padding: 0;
}

.gallery {
  text-align: center;
  padding: 20px 0 0 0;
}

.gallery div {
  display: inline-block;
  width: 175px;
  margin: 7px;
  position: relative;
}

.gallery div img {
  width: 100%;
}
.gallery div[data-status]::after {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: -7px;
  width: 95px;
  height: 35px;
}

.gallery div[data-status="new"]::after {
  content: url(images/new.svg);
}

.gallery div[data-status="sale"]::after {
	content: url(images/sale.svg);